*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: 1px;
      background: linear-gradient(90deg, #921a1f 0%, #355126 100%);
  }
  .login_form_container{
      position: relative;
      width: 400px;
      height: 470px;
      max-width: 400px;
      max-height: 470px;
      background: #fff;
      border-radius: 50px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      margin-top: 70px;
  }
  .login_form_container::before{
      
      position: absolute;
      width: 170%;
      height: 170%;
      content: '';
      background-image: conic-gradient(transparent, transparent, transparent, #921a1f);
      animation: rotate_border 6s linear infinite;
  
  }
  .login_form_container::after{
      
      position: absolute;
      width: 170%;
      height: 170%;
      content: '';
      background-image: conic-gradient(transparent, transparent, transparent, #355126);
      animation: rotate_border 6s linear infinite;
      animation-delay: -3s;
  }
  @keyframes rotate_border{
      0%{
          transform: rotate(0deg);
      }
      100%{
          transform: rotate(360deg);
      }
  }
  .login_form{
      position: absolute;
      content: '';
      background-color: #fff;
      border-radius: 50px 5px;
      inset: 5px;
      padding: 50px 40px;
      z-index: 10;
      color: #355126;
  
  } 
  h2{
      font-size: 40px;
      font-weight: 600;
      text-align: center;
  }
  .input_group{
      margin-top: 40px;
      position:relative;
      display:flex;
      align-items: center;
      justify-content: start;
  }
  .input_text{
      width: 95%;
      height: 30px;
      background: transparent;
      border: none;
      outline: none;
      border-bottom: 1px solid #355126;
      font-size: 20px;
      padding-left: 10px;
      color: #355126;
  
  }
  ::placeholder{
      font-size: 15px;
      color: #35512652;
      letter-spacing: 1px;
  
  }
  .fa{
      font-size: 20px;
  
  }
  #login_button{
      position: relative;
      width: 300px;
      height: 40px;
      transition: 1s;
      margin-top: 70px;
  
  
  }
  #login_button a{
      position: absolute;
      width: 100%;
      height: 100%;
      text-decoration: none;
      z-index: 10;
      cursor: pointer;
      font-size: 22px;
      letter-spacing: 2px;
      border: 1px solid #355126;
      border-radius: 50px;
      background-color: #0c1022;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .fotter {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
  
  }
  .fotter a{
      text-decoration: none;
      cursor: pointer;
      font-size: 18px;
  }
  .glowIcon {
      text-shadow: 0 0 10px #355126;
  
  }




/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
} */


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #921a1f 0%, #355126 100%);
    }
    .box{
        position: relative;
        width: 380px;
        height: 420px;
        /* background: #1c1c1c; */
        border-radius: 8px;
        overflow: hidden;
    }
    .box::before{
        content: '';
        position: absolute;
        top: -50%;
        left:-50% ;
        width: 320px;
        height: 420px;
        background:linear-gradient(0deg,transparent,#355126,
        transparent,#355126) ;
        transform-origin: bottom right;
        animation: animate 6s linear infinite;
    }
    .box::after{
        content: '';
        position: absolute;
        top: -50%;
        left:-50% ;
        width: 320px;
        height: 420px;
        background:linear-gradient(10deg,transparent,#921a1f,
        transparent,#921a1f) ;
        transform-origin: bottom right;
        animation: animate 6s linear infinite;
        animation-delay: -3s;
    }
    @keyframes animate{
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }

    .form{
        position:absolute;
        inset: 2px;
        border-radius: 8px;
        background: #fff;
        z-index: 10;
		padding:50px 40px;
		display: flex;
		flex-direction: column;
    }
	.form h2{
		color: #355126;
		font-weight: 500;
		text-align: center;
		letter-spacing: 0.1em;
	}
	.inputbox{
		position: relative;
		width: 300px;
		margin-top: 35px;

}

.inputbox input{
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	font-size: 1em;
	letter-spacing: 0.05em;
	z-index: 10;
}

.inputbox span{
	position: absolute;
	left: 0;
	padding: 20px 0px 10px;
	font-size: 1em;
	color: #8f8f8f;
	pointer-events: none;
	letter-spacing: 0.05em;
	transition: 0.5s;
}
.inputbox input:valid ~ span,
.inputbox input:focus ~ span
{
	color: #355126;
	transform:translateX(0px) translateY(-34px);
	font-size: 0.75em;
}
.inputbox i{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #355126;
	border-radius: 4px;
	transition: 0.5s;
	pointer-events: none;
}
.inputbox input:valid ~ i,
.inputbox input:focus ~ i{
  height: 44px;
}
.links{
	display: flex;
	justify-content: space-between;
    font-size: 22px;
    margin-top: 22px;
}
.links a{
	margin: 10px 0;
	font-size: 0.75em;
	color: #8f8f8f;
	text-decoration: none;
}
.links a:hover,
.links a:nth-child(2){
	color: #921a1f;
}
.input
{
	border: none;
	outline: none;
	background: #355126;
	padding: 11px 25px;
	width: 500px;
	margin-top: 10px;
	border-radius: 4px;
	font-weight: 600;
	cursor: pointer;
    
    
}
.input:active
{
	opacity: 0.8;
}

body {
	background: linear-gradient(90deg, rgba(146,26,31,1) 0%, rgba(211,163,165,1) 50%, rgba(53,81,38,1) 100%);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}